#login-container {
  background: url("https://images.unsplash.com/photo-1567427017947-545c5f8d16ad")
    no-repeat center center / cover;
  height: 100%;
  overflow-y: hidden;
}

#login-container > .row > #login-box {
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 12px;
}
